## Data Pipeline with Financial Data

This is intended to be an end-to-end data pipeline built over synthetic data generated using the [Faker](https://fakerjs.dev/) Python module. Then the architecture of the solution will include AWS services for storage (Amazon S3). The data will be persisted in a relational database using the Airbyte MotherDuck connector.

### Generating data for datapipeline

In [1]:
import faker
from faker.providers import BaseProvider
import pandas as pd
import random
from datetime import timedelta
from utils.data_generator import generate_datasets
from print_versions import print_versions

output_folder = 'data'

In [2]:
print_versions(globals())

faker==19.6.2
pandas==2.0.3

In [2]:
# Generating tables datasets for Customers, Accounts, Transactions and Investments
generate_datasets(500,5000,output_folder)

Customers Dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     500 non-null    object
 1   customer_name   500 non-null    object
 2   customer_email  500 non-null    object
 3   customer_age    500 non-null    int64
 4   annual_income   500 non-null    float64
 5   credit_score    500 non-null    int64
 6   country         500 non-null    object
 7   city            500 non-null    object
dtypes: float64(1), int64(2), object(5)
memory usage: 31.4+ KB
None

Accounts Dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1015 entries, 0 to 1014
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   account_id    1015 non-null   object
 1   customer_id   1015 non-null   object
 2   account_type  1015 non-null   object
 3   risk_profile  1015 non-null   object
 4   opening_date  1015 non-null   object
dtypes: object(5)
memory usage: 39.8+ KB
None

Transactions Dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   transaction_id      5000 non-null   object
 1   account_id          5000 non-null   object
 2   transaction_type    5000 non-null   object
 3   transaction_amount  5000 non-null   float64
 4   currency            5000 non-null   object
 5   transaction_date    5000 non-null   object
dtypes: float64(1), object(5)
memory usage: 234.5+ KB
None

Investments Dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1514 entries, 0 to 1513
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   investment_id      1514 non-null   object
 1   account_id         1514 non-null   object
 2   investment_type    1514 non-null   object
 3   investment_amount  1514 non-null   float64
 4   market_sector      1514 non-null   object
 5   interest_rate      1514 non-null   float64
 6   return_percentage  1514 non-null   float64
dtypes: float64(3), object(4)
memory usage: 82.9+ KB
None